@import "../../../responsive.scss";

.map-container {
  width: calc(100% - 32px);
  padding: 16px;
  height: 500px;

  @include mobile {
    height: 300px;
  }
}

.map-container > div {
  width: 100%;
  height: 100%;
}
