.location-form .input-control {
  font-size: 1em;
  line-height: 20px;
  border: solid thin #ccc;
  background-color: #f4f4f4;
  display: block;
  width: 90%;
  padding: 5px 7px;
  margin-top: 10px;
}

.location-form .input-control label {
  margin-bottom: 1%;
  font-size: 1em;
  display: block;
}

.location-form .btn-control {
  margin: 2%;
}

.location-form button {
  display: inline-block;
  border: solid thin #ccc;
  padding: 10px;
  width: 45%;
  cursor: pointer;
  font-weight: bold;
  border-radius: 3px;
  background-color: #f4f4f4;
}

.location-form button:hover,
.location-form button:focus {
  background-color: #f4f4f4;
}

.location-form button:first-child {
  margin-right: 10px;
}
