.directions-container {
  width: 100%;
  height: 100%;
}

.directions-container::after {
  content: "";
  display: block;
  clear: both;
}

.directions-container .direction-map-container {
  height: 100%;
  width: 75%;
  position: absolute;
  left: 25%;
}

.directions-container .direction-form-container {
  position: absolute;
  left: 0;
  width: 25%;
  padding: 20px;
  height: 100%;
}
